.header__lang-link {
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang-link:first-child {
    margin-right: 16px;
    text-decoration: underline;
}

.header__lang-link:hover {
    opacity: 0.8;
}