.header__lang-link_ru {
    text-align: right;
    right: 95px;
    top: 46px;
}

@media screen and (max-width: 768px) {
    .header__lang-link_ru {
        right: 71px;
        top: 46px; 
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link_ru {
        right: 56px;
        top: 30px; 
    }
}