.place__title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 460px;
    justify-self: end;
    align-self: end;
}

@media screen and (max-width: 1279px) {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 330px; /*В  макете эти 2 слова на 2 разных стрках, поэтуму уменьшил max-width с 340px до 330px*/
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        align-self: center;
    }
}