.page {
    min-width: 320px;
    font-family: 'Inter';
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    background-color: #2A2C2F;
    margin: auto;
    color: white;
    align-items: center;
} 