.photo-grid {
    margin:92px 48px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    min-height: 671px;
  }

  @media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
        min-height: 942px;
      }
  }

  @media screen and (max-width: 768px) {
    .photo-grid {
        margin:88px 24px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        min-height: 1664px;
      }
  }

  @media screen and (max-width: 320px) {
    .photo-grid {
        margin:64px 16px;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        min-height: 2724px;
      }
  }