.cover__subtitle {
    margin: 32px 412px 245px 412px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    font-weight: 400;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 32px 332px 195px 332px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 32px 204px 115px 204px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin: 16px 16px 33px 16px;
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}