.place__paragraphs {
    margin: 0;
    max-width: 484px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: 288px;
    }
}