.footer__link {
    margin: 0;
    color: #FFFFFF;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.footer__link:hover {
    color: #FFFFFF;
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 32px;
    }
}