.footer__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    position: absolute;
    color: white;
}

@media screen and (max-width: 320px) {
    .footer__link {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-start;
        margin-left: 16px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
}

@media screen and (max-width: 320px) {
    .footer__link:nth-child(5) {
        margin-bottom: 0;
    }