.lead__title {
    max-width: 720px;
    margin: 0 132px 0 132px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__title {
        margin: 0 104px 0 104px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__title {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        margin: 0 16px 0 16px;
        font-size: 40px;
        line-height: 44px;
    }
}