.place__paragraph {
    margin: 0;
    margin-bottom: 24px;
    max-width: 484px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 32px 16px 24px 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph:last-child {
    }
}