.lead__subtitle {
    margin: 32px 172px 64px 172px;
    max-width: 600px; /* Чтобы переннос слов совападал с макетом, уменьшил максимальную ширину с 640px до 600px */
    align-self: center;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin: 32px 144px 56px 144px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__subtitle {
        margin: 32px 64px 56px 64px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin: 16px 16px 40px 16px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}