.cover__background {
    background-image: url('../__background/__background.png');
    width: 100%;
    height: 740px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__background {
        height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__background {
        height: 200px;
    }
}