.footer {
    margin: 92px 48px 0 48px; 
    height: 18px;
    padding-bottom: 24px;
} 

@media screen and (max-width: 1279px) {
    .footer {
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        margin: 88px 24px 0 24px
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 64px auto 0 16px; 
        height: 310px;
    }
}