.place__url-heading {
    margin: 0;
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    max-width: 456px;
    position: absolute;
    bottom: 34px;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        max-width: 352px;
    }
}