.intro__title {
    font-family: 'Inter-Bold';
    margin: 0;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        align-self: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        align-self: start;
        font-size: 32px;
        line-height: 35px;
    }
}